@value makerGreen from '../../common/colors.css';

.preview {
  flex-basis: 50%;
  background-color: pink;
}
.title {
  text-align: center;
  margin: 0.5rem;
  color: makerGreen;
}

.cards {
  width: 100%;
  height: 100%;
  padding: 0.5em 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
