@value makerLightGrey from '../../common/colors.css';
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.input {
  display: none;
}
.button {
  width: 100%;
  background-color: makerLightGrey;
  border: 0;
  cursor: pointer;
  outline: 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.button:hover {
  opacity: 0.8;
}
