@value mediaQuery from "../../common/size.css";
@value makerWhite from '../../common/colors.css';

.maker {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  background-color: makerWhite;
}

.container {
  display: flex;
  flex: 1;
  transition: all 1s ease-in-out;
  min-height: 0;
}

@media (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
