@value mediaQuery from "../../common/size.css";

.maker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  transition: all 1s ease-in-out;
}

@media (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
